:root {
  --brand-color: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --text-color: #212121;
  --contact-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
ul {
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
}
.buttons {
  display: block;
  height: 38px;
  width: 121px;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03em;
}
.buttons:hover {
  background: var(--brand-color);
  color: white;
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}
.main-button {
  cursor: pointer;
  background-color: var(--brand-color);
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 16px 41px 16px 42px;
}
.list-style {
  list-style-type: none;
}
.nav-decoration:hover {
  color: var(--brand-color);
}
.nav-decoration {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-header {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--contact-color);
  letter-spacing: 0.02em;
}
.contact-footer {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  color: var(--contact-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: white;
  margin-top: 20px;
}
.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-decoration {
  color: var(--brand-color);
}
.logo-footer {
  color: #ffffff;
}
.hide {
  display: none;
}
.heading-main-page {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.background-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(255, 255, 255, 0)
    ),
    url(../images/background-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
  background-color: transparent;

  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title-lorem {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.text-lorem {
  font-size: 14px;
  color: var(--contact-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.title-list {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
ul.team-pics > li > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
ul.team-pics > li > p {
  font-size: 16px;
  line-height: 1.19;
  color: var(--contact-color);
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.title-decoration-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-decoration-portfolio {
  font-size: 16px;
  line-height: 1.86;
  color: var(--contact-color);
  letter-spacing: 0.03em;
}
div.header-wrapper > a {
  flex-grow: 1;
}
div.header-wrapper > ul {
  flex-grow: 2;
}
ul.list-contact-header {
  flex-grow: 1;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.list-lorem {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.navigation {
  display: flex;
  gap: 46px;
  margin-right: 345px;
}
.list-contact-header {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
p.text-lorem {
  margin-top: 10px;
}
.main-page-pictures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-top: 0px;
}
.team-pics {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.team-background {
  background-color: var(--background-color-light);
}
ul.team-pics > li {
  background-color: white;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 9px;
  align-items: flex-start;
  justify-content: center;
}
.background-footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
  padding-bottom: 56px;
  margin: 0;
}

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  gap: 30px;
}

ul.section-wrapper > li {
  flex-basis: calc((100% - 60px) / 3);
}
ul.section-wrapper > li:hover {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 1px 1px 0px #0000001f,
    0px 4px 4px 0px #0000000f;
}

ul.section-wrapper > li > img {
  display: block;
}

.border {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.icon-envelope {
  margin-right: 10px;
  fill: var(--contact-color);
}

.icon-vector {
  margin-right: 10px;
  fill: var(--contact-color);
}
.icons-list {
  display: flex;
  justify-content: space-between;
}
.icons-list > li {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  /* position: absolute;
} */
}
.icon-antenna {
  margin: auto;
  display: block;
  margin-top: 25px;
}
.icon-clock {
  margin: auto;
  display: block;
  margin-top: 25px;
}
.icon-computer {
  margin: auto;
  margin-top: 25px;
  display: block;
}
.icon-astronaut {
  margin: auto;
  margin-top: 25px;
  display: block;
}
.icon-antenna:hover,
.icon-clock:hover,
.icon-computer:hover,
.icon-astronaut:hover {
  fill: var(--brand-color);
}
.contact-header:hover svg,
.contact-footer:hover svg {
  fill: var(--brand-color);
}
.contact-header:hover,
.contact-footer:hover {
  color: var(--brand-color);
}

.icon-sm-John {
  fill: #afb1b8;
  display: block;
  margin: auto;
  margin-top: 12px;
}

.icon-instagram-background,
.icon-twitter-background,
.icon-facebook-background,
.icon-lindekin-background {
  margin: auto;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: white;
}
.icon-instagram-background:hover,
.icon-twitter-background:hover,
.icon-facebook-background:hover,
.icon-lindekin-background:hover,
.icon-instagram:hover {
  background: #2196f3;
}

.list-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 32px;
}
.list-social-media > li:hover svg {
  fill: rgba(255, 255, 255, 1);
}
.our-clients {
  font-style: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-clients-bg {
  padding-top: 94px;
  padding-bottom: 94px;
}
.icon-logo-ul {
  display: flex;
  gap: 30px;
}
.icon-logo-background {
  margin-top: 50px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 17.71px 32px 14.25px 32px;
}
.icon-logo {
  fill: rgba(175, 177, 184, 1);
}

.icon-logo-background:hover {
  border: 1px solid #2196f3;
}
.icon-logo-ul > li:hover svg {
  fill: var(--brand-color);
}
.icon-sm {
  margin: auto;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.icon-sm-footer {
  fill: #afb1b8;
  display: block;
  margin: auto;
  margin-top: 12px;
}
.flex-footer {
  display: flex;
  gap: 70px;
  align-items: center;
}
.join {
  color: white;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.icon-sm-flex {
  display: flex;
  gap: 10px;
}
.icon-sm:hover {
  background-color: var(--brand-color);
}

.icon-sm-flex > li:hover svg {
  fill: rgba(255, 255, 255, 1);
}
