:root {
  --brand-color: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --text-color: #212121;
  --contact-color: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.buttons {
  height: 38px;
  width: 121px;
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.03em;
}
.buttons:hover {
  background: var(--brand-color);
}
.main-button {
  cursor: pointer;
  background-color: var(--brand-color);
  color: #ffffff;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.list-style {
  list-style-type: none;
}
.nav-decoration:hover {
  color: var(--brand-color);
}
.nav-decoration {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-header {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--contact-color);
  letter-spacing: 0.02em;
}
.contact-footer {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  color: var(--contact-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-header:hover,
.contact-footer:hover {
  color: var(--brand-color);
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-decoration {
  color: var(--brand-color);
}
.hide {
  display: none;
}
.heading-main-page {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
}
.background-section {
  background-color: var(--background-color-dark);
}
.title-lorem {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.text-lorem {
  font-size: 14px;
  color: var(--contact-color);
  letter-spacing: 0.03em;
  line-height: 1.71;
}
.title-list {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--contact-color);
  letter-spacing: 0.03em;
}
.title-decoration-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-decoration-portfolio {
  font-size: 16px;
  line-height: 1.86;
  color: var(--contact-color);
  letter-spacing: 0.03em;
}
