.card {
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 1px 1px 0px #0000001f,
    0px 4px 4px 0px #0000000f;
}
.card_img {
  display: block;
}
.card__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card__title--caption {
  font-size: 16px;
  line-height: 1.86;
  color: var(--contact-color);
  letter-spacing: 0.03em;
}
.card__border {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.card__overflow {
  position: relative;
  overflow: hidden;
}
.card__hidden-box {
  position: absolute;
  height: 100%;
  background-color: #2196f3e5;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  transform: translateY(102%);
  will-change: transform;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__hidden-text {
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  line-height: 1.5;
}

.card:hover .card__hidden-box {
  transform: translateY(0);
}
