.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
  &__heading {
    font-style: normal;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 40px) / 2);
    gap: 30px;
    margin: 0 auto;
    align-items: center;
    padding: 0 15px;
    justify-content: center;
  }
  &__item {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 17.71px 32px 14.25px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      border: 1px solid #2196f3;
    }
  }
  &__icon {
    display: block;
    margin: 0 auto;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      fill: var(--brand-color);
    }
  }
}

@media screen and (min-width: $tablet) {
  .clients-section__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .clients-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: $pc) {
  .clients-section__heading {
    font-size: 36px;
    line-height: 42px;
  }
  .clients-section__list {
    max-width: 1200px;
    flex-wrap: nowrap;
  }
}
