.contact {
  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
  }
  &__svg-1 {
    margin-right: 10px;
    fill: var(--contact-color);
    position: absolute;
    left: -20%;
    top: 14%;
  }
  &__svg-2 {
    margin-right: 10px;
    fill: var(--contact-color);
    position: absolute;
    left: -20%;
    top: 0%;
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--contact-color);
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      color: var(--brand-color);
    }
    &:hover .contact__svg-1 {
      fill: var(--brand-color);
    }
    &:hover .contact__svg-2 {
      fill: var(--brand-color);
    }
  }
}
