.footer__sm-list {
  display: flex;
  gap: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &__item {
    margin: auto;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: var(--brand-color);
    }
    &:hover .footer__sm-list__icon {
      fill: rgba(255, 255, 255, 1);
    }
  }
  &__icon {
    fill: #fff;
    display: block;
    margin: auto;
    margin-top: 12px;
  }
}
