.main-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(255, 255, 255, 0)
    ),
    url(../images/Header-img-mobile-1.jpg);
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 118px;
  padding-bottom: 118px;
  &__heading {
    color: #ffffff;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    word-wrap: break-word;
  }
  &__button {
    cursor: pointer;
    background-color: var(--brand-color);
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 16px 41px 16px 42px;
  }
}

@media screen and (min-width: $tablet) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(255, 255, 255, 0)
      )
      url(../images/Header-img-tablet-1.jpg);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-width: $tablet) {
  .main-section {
    background-image: url(../images/Header-img-tablet-2.jpg);
  }
}
@media screen and (min-width: $pc) {
  .main-section {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(255, 255, 255, 0)
      ),
      url(../images/background-main.jpg);
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .main-section__heading {
    font-size: 44px;
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-width: $pc) {
  .main-section {
    background-image: url(../images/Header-img-pc-2.jpg);
  }
}
