.main-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(255, 255, 255, 0)
    ),
    url(../images/background-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-section__heading {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  width: 696px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.main-section__button {
  cursor: pointer;
  background-color: var(--brand-color);
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 16px 41px 16px 42px;
}
