.X-button {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  background-color: white;
  border: none;

  &__icon {
    position: absolute;
    top: -4px;
    left: -5px;
    width: 45px;
    height: 45px;
  }
}
