:root {
  --brand-color: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --text-color: #212121;
  --contact-color: #757575;
}
$mobile: 480px;
$tablet: 768px;
$pc: 1200px;
